---
- name: Install nginx
  apt: name=nginx state=present

- name: Delete default nginx config files & directory
  file:
    state: absent
    path: /etc/nginx/sites-enabled/default

- name: Copy nginx configuration for wordpress
  template: 
      src=default.conf 
      dest=/etc/nginx/conf.d/default.conf
  notify: restart nginx
